<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dj.ssm.mapper.UserMapper">
    <sql id="USER">
        id, user_name, user_pwd, is_del,file_name
    </sql>
    <insert id="addUser">
        insert into
            user(user_name, user_pwd,is_del,file_name)
        values(#{userName},#{userPwd},#{isDel},#{fileName})
    </insert>
    <update id="updateUser">
        update user
            <set>
                <if test="userName != null and userName != '' ">
                    user_name = #{userName},
                </if>
                <if test="userPwd != null and userPwd != '' ">
                    user_pwd = #{userPwd},
                </if>
                <if test="isDel != null ">
                    is_del = #{isDel},
                </if>
                 <if test="fileName != null and fileName != '' ">
                     file_name = #{fileName},
                </if>
            </set>
            <where>
                id = #{id}
            </where>
    </update>
    <select id="findUserByUserNameAndUserPwd" resultType="com.dj.ssm.pojo.User">
        select
            <include refid="USER" />
        from
            user
        where user_name = #{userName} and user_pwd = #{userPwd}
    </select>
    <select id="findAll" resultType="com.dj.ssm.pojo.User">
        select
        <include refid="USER" />
        from
            user
        where is_del = #{isDdel}  order by  id desc
    </select>
    <select id="findUserById" resultType="com.dj.ssm.pojo.User">
        select
        <include refid="USER" />
        from
        user
        where id = #{id}

    </select>
    <select id="findUserByUserName" resultType="com.dj.ssm.pojo.User">
        select
        <include refid="USER" />
        from
        user
        where user_name = #{userName}
    </select>
</mapper>